<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/forms.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body class="body__form">

    <header>
        <div class="header__container--first">
            <div class="header__logo--search">
            <div class="logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre" width="100%"></a>
            </div>
            <div class="search">
                <input class="input--search"type="text" placeholder="Buscar productos, marcas">
                <button>
                <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            </div>
            <div class="cuotas">
            <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
            <nav>
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>


    <div class="form__container">
        <form action="" method="">
            <div class="form">
                <div class="form__input--container">
                    <input class="input-style" type="text" name="name" placeholder="Ingrese su nombre y apellido">
                    <span class="error-message">* Debe ingresar su nombre y apellido</span>
                </div>
                <div class="form__input--container">
                    <input class="input-style" type="text" name="user" placeholder="Ingrese su nombre de usuario">
                    <span class="error-message">* Debe ingresar su nombre de usuario</span>
                </div>
                <div class="form__input--container--birth">
                    <label for="date">Fecha de nacimiento</label>
                    <input class="input-style" type="date">
                </div>
                <div class="form__input--container">
                    <input class="input-style" type="text" name="address" placeholder="Ingrese su domicilio">
                    <span class="error-message">* Debe ingresar su domicilio</span>
                </div>
                <div class="form__input--container">
                    <h3>Perfil del usuario</h3>
                    <div class="form__check--container">
                    <div class="form__profile--type">
                        <input type="radio" class="buyer">
                        <label for="buyer">Comprador</label>
                    </div>                
                    <div class="form__profile--type">
                        <input type="radio" class="seller">
                        <label for="seller">Vendedor</label>
                    </div>
                </div>
                <div class="form__info--container"></div>
                    <h3>Intereses</h3>
                    <div class="form__categories">
                        <input type="checkbox" class="electro">
                        <label for="electro">Electro</label>
                    </div>
                    <div class="form__categories">
                        <input type="checkbox" class="fashion">
                        <label for="electro">Moda</label>
                    </div>
                    <div class="form__categories">
                        <input type="checkbox" class="home">
                        <label for="electro">Hogar</label>
                    </div>
                    <div class="form__categories">
                        <input type="checkbox" class="toy-store">
                        <label for="electro">Juguetería</label>
                    </div>
                    <div class="form__categories">
                        <input type="checkbox" class="healthy lifestyle">
                        <label for="electro">Vida sana</label>
                    </div>
                </div>
                <div class="form__input--container">
                    <h3>Foto de perfil</h3>
                    <input class="input-style" type="file" name="file" placeholder="Cargue su foto de perfil">
                    <span class="error-message">* Debe ingresar una imágen válida</span>
                </div>
                <div class="form__input--container">
                    <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña">
                    <span class="error-message">* Debe ingresar su contraseña</span>
                </div>
                <div class="form__input--container">
                    <input class="input-style" type="password" name="pass2" placeholder="Re-ingrese su contraseña">
                    <span class="error-message">* Debe re-ingresar su contraseña</span>
                </div>
                <div class="form__check--terms">
                    <label for="recordar">  Acepto los <a href="">términos y condiciones</a> </label>
                    <input type="checkbox" name="terms" id="recordar"> 
                    <span class="error-message">* Debe aceptar los términos y condiciones</span>
                </div>
                <div class="form__button-container">
                    <button type="reset" class="form__btn">Borrar</button>
                    <button type="submit" class="form__btn"><a class="btn__link" href="/home">Enviar</a></button>
                    <span class="error-message">* Datos inválidas</span>
                </div> 
                <span><a href="login.html">Ya tengo cuenta</a></span>
            </div>
        </form>
    </div>

    <footer>
        <article>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
        <span>Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</span>
    </footer>
</body>
</html>